@import url('https://fonts.googleapis.com/css?family=Montserrat:300');

$gray: #a5aeb6;
$red: rgb(197, 91, 91);
* {
  box-sizing: border-box;
  margin: 0;
}
.overflow_text {
  overflow: hidden;
  text-overflow: ellipsis;
  display: -webkit-box;
  -webkit-line-clamp: 2; /* number of lines to show */
  -webkit-box-orient: vertical;
}

h1 {
  margin-bottom: 5px;
}

.button {
  padding: 8px;
  width: auto;
  margin-right: auto;
  border: none;
  background-color: black;
  color: white; 
  margin-top: 10px;
  &:hover{
    color: $red;
  }
}

.buttons_container {
  display: flex;
  flex-direction: row;
  flex: 1;
  align-items: flex-end;
  justify-content: flex-end;
}

.subtitle {
  color: $gray;
  margin: 5px 0;
}
.username {
  color:$red ;
}
.form_margin {
  margin: 0 auto auto 0 !important;
}

.container {
  margin: 20px;
}
header{
  width: 100%;
  .nav{  
    background-color: black;
    display: flex;

    
    a{
      padding: 25px;
      font-size: 20px;
      color: white;
      text-decoration: none;
    }
    a:hover {
      color: $red;
    }
  }
}

.form-container{
  display: flex;
  height: 80vh;
  
  h2{
    margin-bottom: 5px;
  }
  form{
    margin: auto;
    width: 300px;
    padding: 10px;
    display: flex;
    flex-direction: column;
    border: 2px solid black;
    input{
      width: auto;
      padding: 5px;
      margin-bottom: 7px;
      &:last-of-type {
        margin-bottom: 0;
      }
    }
  }
}

.post_container {
  width: 100%;

  .index_posts {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    .posts_wrapper {
      flex: 1 1 18%;
      padding: 10px;
      border: 1px solid black;
      margin: 5px;
      width: 200px;
      height: 300px;
      display: flex;
      .posts {
        display: flex;
        flex-direction: column;
        word-wrap: break-word;
        flex: 1;
      }
      

      h3 a {
        text-decoration: none;
        color: black;
      }
    }
  }
}

.myposts_container {
  display: flex;

  .myposts {
    display: flex;
    flex-wrap: wrap;
    align-content: flex-start;
    }
  .post_wrapper {
    padding: 5px;
    flex: 0 1 33.3%;
    display: flex;


    .post {
      flex: 1;
      display: flex;
      flex-direction: column;
      border: 1px solid black;
      padding: 5px;
      height: 150px;
      width: 300px;
      word-wrap: break-word;
    
      .edit_button {
        margin-left: auto;
        margin-right: 5px;
        text-decoration: none;
        -webkit-appearance: button;
        -moz-appearance: button;
        appearance: button;

      }
    }
  }  
}

.show_post {
  display: flex;
  flex-direction: column;
  border: 1px solid black;
  padding: 10px;
  
}